@keyframes rotation-triangle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotation-square {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.rotation-triangle {
  animation: rotation-triangle 20s linear infinite;
}

.rotation-square {
  animation: rotation-square 20s linear infinite;
  transform: rotate(-15deg);
}

.logo_place_header {
  position: absolute;
  width: 228px;
  height: 32;
  top: 30px;
  left: 64px;
}

.header__title {
  margin: 0;
  align-self: center;
  padding-left: 64px;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  letter-spacing: 3px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__main-illustration {
  position: absolute;
  width: 756px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link::after {
  content: "\2192";
}

.header__link:hover {
  transition: 0.2s ease;
  opacity: 65%;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background-color: #2f80ed;
  top: 64px;
  right: 0px;
}

.techniques {
  margin: 0 auto;
  width: 80%;
  padding-top: 100px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 920px;
  margin: auto;
  padding: 0;
}

.cards__item {
  text-align: center;
  margin: 0;
  margin-right: 100px;
  width: 240px;
}

.cards__item:nth-child(3) {
  margin: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 60px 40px 43px;
}

.cards__title {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.cards__description {
  margin: 16px 0 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.description {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: white;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  color: #2f80ed;
}

.two-columns__main-text {
  max-width: 80%;
  min-width: 784px;
  font-weight: normal;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: bold;
}
.two-columns__paragraph:last-child {
  margin-bottom: 0px;
}

.video {
  margin-top: 100px;
}

.video__iframes {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: -60px;
}

.video__iframe {
  width: 515px;
  height: 316px;
}

.video__iframe:first-child {
  margin-right: 20px;
}

.oakley {
  padding-top: 160px;
  background-color: #f2f2f2;
}

.digits {
  margin: 100px auto;
  background-color: white;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 20px;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
}

.table {
  padding: 0;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  right: 0;
  line-height: 1.2;
  font-size: 18px;
  margin: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.khan {
  padding-top: 105px;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  margin: 50px 0 36px 0;
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.quote__author {
  margin: 0 0 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan_quote-author-subline {
  margin: 0 0 68px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
  object-fit: cover;
  object-position: top;
}

.khan__buy-link {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #044cad;
}

.khan__buy-link::after {
  content: "\2192";
}

.khan__buy-link:hover {
  transition: 0.2s ease;
  opacity: 65%;
}

.feynman {
  display: flex;
  position: relative;
  padding-top: 100px;
  margin: 0;
  min-height: 790px;
  flex-direction: column;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
}

.feynman__title {
  max-width: 648px;
  z-index: 1;
  align-self: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 70px;
  text-align: center;
}

.feynman__subtitle {
  margin: 0;
  align-self: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__illustration {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.feynman__link::after {
  content: "\2192";
}

.feynman__link:hover {
  transition: 0.2s ease;
  opacity: 65%;
}


.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding-bottom: 90px;
}

.section-title_theme_dark {
  color: white;
  margin-top: 90px;
  z-index: 1;
  position: relative;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 2;
  position: relative;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  position: absolute;
  background-repeat: no-repeat;
  right: -210px;
  top: 0;
  background-size: contain;
  z-index: 0;
}

.table_theme_dark {
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.resources {
  padding-top: 100px;
}

.resources__logo-zone {
  margin: 80px auto 217px auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 1100px;
  padding: 0;
}

.resources__link:hover {
  transition: 0.2s ease;
  opacity: 65%;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  color: #ffffff;
  box-sizing: border-box;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__columns {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  bottom: 0;
  left: 0;
  color: white;
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
}

.footer__column_content_info {
  color: white;
  flex-wrap: wrap;
}

.footer__column_content_social {
  color: white;
  flex-wrap: wrap;
}

.footer__column-heading {
  margin: 0;
  margin-bottom: 20px;
  color: white;
  display: flex;
  flex-direction: column;
}

.footer__column-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  padding-top: 0;
  margin-top: 0;
}

.footer__column-link {
  text-decoration: none;
  color: #ffffff;
}

.footer__social-icons {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__column-link:hover {
  transition: 0.2s ease;
  opacity: 65%;
}


@import url(../vendor/normalize.css); 
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__square-pic/header__square-pic.css);
@import url(../blocks/header/__main-illustration/header__main-illustration.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_footer.css);
@import url(../blocks/logo/_place/logo_place_header.css);
@import url(../blocks/rotation/rotation.css);
@import url(../blocks/description/description.css); 
@import url(../blocks/two-columns/two-columns.css);
@import url(../blocks/two-columns/__span-accent/two-columns__span-accent.css);
@import url(../blocks/two-columns/__paragraph/two-columns__paragraph.css);
@import url(../blocks/two-columns/__oakley-paragraph/two-columns__oakley-paragraph.css);
@import url(../blocks/two-columns/__main-text/two-columns__main-text.css);
@import url(../blocks/two-columns/__brief/two-columns__brief.css);
@import url(../blocks/techniques/techniques.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-title/_theme/section-title_theme_dark.css);
@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/section-subtitle/_theme/section-subtitle_theme_dark.css);
@import url(../blocks/cards/cards.css); 
@import url(../blocks/cards/__title/cards__title.css); 
@import url(../blocks/cards/__item/cards__item.css); 
@import url(../blocks/cards/__image/cards__image.css); 
@import url(../blocks/cards/__description/cards__description.css); 
@import url(../blocks/video/__iframe/video__iframe.css);
@import url(../blocks/video/__iframes/video__iframes.css);
@import url(../blocks/oakley/oakley.css);
@import url(../blocks/feynman/feynman.css);
@import url(../blocks/feynman/__title/feynman__title.css);
@import url(../blocks/feynman/__subtitle/feynman__subtitle.css);
@import url(../blocks/feynman/__link/feynman__link.css);
@import url(../blocks/feynman/__img/feynman__img.css);
@import url(../blocks/digits/digits.css);
@import url(../blocks/khan/khan.css);
@import url(../blocks/khan/__title/khan__title.css);
@import url(../blocks/khan/__quote/khan__quote.css);
@import url(../blocks/khan/__quote-author/khan__quote-author.css);
@import url(../blocks/khan/__quote-author-subline/khan__quote-author-subline.css);
@import url(../blocks/khan/__container/khan__container.css);
@import url(../blocks/khan/__buy-link/khan__buy-link.css);
@import url(../blocks/khan/__book-pic/khan__book-pic.css);
@import url(../blocks/khan/__book-container/khan__book-container.css);
@import url(../blocks/khan/__author/khan__author.css);
@import url(../blocks/kaufman/kaufman.css);
@import url(../blocks/kaufman/__triangle/kaufman__triangle.css);
@import url(../blocks/table/table.css);
@import url(../blocks/table/_theme/table_theme_dark.css);
@import url(../blocks/table/__text/table__text.css);
@import url(../blocks/table/__heading/table__heading.css);
@import url(../blocks/table/__heading/_theme/table__heading_theme_dark.css);
@import url(../blocks/table/__cell/table__cell.css);
@import url(../blocks/table/__cell/_theme/table__cell_theme_dark.css);
@import url(../blocks/resources/resources.css);
@import url(../blocks/resources/__logo/resources__logo.css);
@import url(../blocks/resources/__logo-zone/resources__logo-zone.css);
@import url(../blocks/resources/__logo-link/resources__logo-link.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__social-icon/footer__social-icon.css);
@import url(../blocks/footer/__columns/footer__columns.css);
@import url(../blocks/footer/__column/_content/footer__column_content_copyright.css);
@import url(../blocks/footer/__column-links/footer__column-links.css);
@import url(../blocks/footer/__column-link/footer__column-link.css);
@import url(../blocks/footer/__column-heading/footer__column-heading.css);
@import url(../blocks/footer/__author/footer__author.css);
