
.khan__buy-link {
    margin: 0;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #044cad;
  }
  
  .khan__buy-link::after {
    content: "\2192";
  }
  
  .khan__buy-link:hover {
    transition: 0.2s ease;
    opacity: 65%;
  }